<section class="pb-10">
    <div class="container">
      <h1 class="text-center display-5 pb-3">WHAT YOU WILL LEARN</h1>
      <div class="curriculum">
        <div class="first_section">
          <h2 class="mb-5 w-110">Curriculum</h2>
          <div class="first_inner">
            <h5>Week 1:</h5>
            <p>Introduction to Product Design</p>
          </div>
          <div class="first_inner">
            <h5>Week 2:</h5>
            <p>User experience Design</p>
          </div>
          <div class="first_inner">
            <h5>Week 3:</h5>
            <p>Product Types: Typical Problems and Solutions</p>
          </div>
          <div class="first_inner">
            <h5>Week 4:</h5>
            <p>Intro to UX Research</p>
          </div>
          <div class="first_inner">
            <h5>Week 5:</h5>
            <p>Design Thinking</p>
          </div>
        </div>
        <div class="second_section">
            <h2>Week 1</h2>
            <h6>Introduction to Product Design</h6>
            <p>In the introductory unit, you'll learn design fundamentals and gain a foundation for UI/UX best practices while exploring the various roles within the industry.</p>
            <ul class="pt-3 display-8">
              <li>Learn the differences between UI and UX</li>
              <li>Learn the skills needed to be successful as a UI/UX designer</li>
              <li>Discover the range of UI/UX design roles and their responsibilities</li>
              <li>Learn the differences between UI and UX</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sunt, alias quae obcaecati, fugit, maiores ipsum nihil inventore non explicabo nisi veritatis atque quidem dolore. Eligendi voluptatibus eum perspiciatis deleniti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo pariatur voluptatum, laboriosam, eos fugit, aspernatur officiis sapiente sed consequuntur maxime atque nam aut ipsa doloribus! Quos quis ab exercitationem voluptatibus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At natus aut praesentium vel, dicta dolorem, totam repudiandae ipsum quis corporis alias, veritatis sapiente eligendi voluptatum asperiores expedita delectus. Dolorem, quis.</p>
          </div>
        </div>
      </div>
    </section>
  