.container {
  width: 100%;
}

.bgColor {
  background: var(--bg-blue);
  width: 100%;
}

.oswaldFont {
  font-family: Oswald;
}

.name {
  font-family: Oswald;
  color: var(--foundation-blue);
}

.work {
  color: var(--foundation-blue-darker, #00134a);
  font-family: Montserrat;
}

.mentors {
  color: var(--foundation-blue);
  font-family: Oswald;
}

.montserrat_and_dark_blue_colour {
  color: var(--foundation-blue-darker);
  font-family: Montserrat;
}
.firstCard{
    margin-left: 30px;
}
@media only screen and (max-width: 1000px) {
  .firstCard {
    margin-left: 0;
  }
}
