<div class="background bgColor">
    <div class="container ">
        <div class="row d-flex  justify-content-center align-items-center my-5  ">
            <div class="row">
                <p class="text-uppercase col-12 d-flex justify-content-center align-items-center mentors fs-1 mt-5">our
                    mentors</p>
                <p class="col-12 d-flex justify-content-center align-items-center skill mb-5">Build skills faster with
                    an expert in your corner</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex justify-content-sm-center align-items-sm-center ">
                <div class="card border border-primary shadow-lg" style="width: 15rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-1" alt="mentor">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex justify-content-sm-center align-items-sm-center">
                <div class="card border border-primary shadow-lg" style="width: 15rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-1" alt="mentor" width="180px">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex justify-content-sm-center align-items-sm-center">
                <div class="card border border-primary shadow-lg" style="width: 15rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-1" alt="mentor" width="180px">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex  flex-sm-column justify-content-sm-center align-items-sm-center">
                <div class="card border border-primary shadow-lg" style="width: 15rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-1" alt="mentor" width="180px">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

