<!-- bgColor is to change the background colour -->
    <div class="container-fluid bgColor">
        <div class="row d-flex justify-content-center align-items-center my-5  ">
            <!-- This row is for my heading and description -->
            <div class="row">
                <p class="text-uppercase col-12 d-flex justify-content-center align-items-center fs-1 mt-5 oswaldFont">
                    our
                    mentors</p>
                <p class="col-12 d-flex justify-content-center align-items-center mb-5 montserrat_and_dark_blue_colour ">Build skills faster with
                    an expert in your corner</p>
            </div>
            <!-- This is where my card elements are -->
            <!-- This is my First Card -->
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center  firstCard">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <!-- This is my Second Card -->
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center ">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div><!-- This is my Third Card -->
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center ">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div><!-- This is my Fouth Card -->
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center ">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center ">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mb-5 d-flex flex-column justify-content-center align-items-center ">
                <div class="card border border-primary shadow-lg justify-content-center align-items-center " style="width: 17rem;">
                    <img src="../assets/mentor.svg" class="card-img-top mt-3 " alt="mentor" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column text-uppercase">
                        <p class="card-text mentor">Mentor</p>
                        <p class="card-text name fs-3 ">Nkechi Alima</p>
                        <p class="card-text work">Ui/Ux Designer</p>
                        <p class="card-text"><img src="../assets/logo.svg" alt=""></p>

                    </div>
                </div>
            </div>
        </div>
    </div>



