nav {
    background-color: #edf1fe;
    box-shadow: 5px 10px 8px 10px #d1dbf7;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navbarNav {
    margin-left: 100px;
}
.nav-item {
    margin-left: 20px;
}
.nav-item a {
    font-size: 15px;
    font-weight: 500;
}
.navbar-nav {
    margin-left: 120px;
}
#special-nav {
    padding-left: 20px;
}
#special-nav .nav-item:nth-child(1) {
    border: 3px solid #0036d2;
    border-radius: 3px;
}
#special-nav .nav-item:nth-child(2) {
    border: none;
    background-color: #0036d2;
    border-radius: 3px;
}
#special-nav .nav-item span {
    color: white;
}
@media screen and (max-width:1280px) and (min-width:1025px){
    nav .container #navbarNav #special-nav{
        text-align: center;
    }
    #special-nav {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #special-nav {
        display: none;
    }
} 

