<section class="pb-5">
    <div class="container">
        <h1 class="text-center pt-5 pb-5">PAST STUDENTS</h1>
    <div class="first_section">
        <div class="first_inner">
            <iframe src="https://www.youtube.com/embed/HBTXvCPnG-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="second_inner"> 
            <img class="w-50 rounded-circle" src="assets/images/Profile.png" alt="">
            <h5>NKECHI ALIMA ALAYO</h5>
            <h4>UI/UX DESIGN GRADUATE, 2021</h4>
            <a href="">See portfolio...</a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere et reprehenderit iure eveniet totam beatae sit impedit sed eius asperiores, explicabo pariatur soluta aliquid error consequatur, doloremque eos doloribus nobis.</p>
        </div>
    </div>
    </div>
</section>
