/* You can add global styles to this file, and also import other style files */
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@700&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


/* The colours are defined here */
:root {
    --foundation-blue: #0036D2;
    --white: #faf0e6;
    --black: #0000;
    --foundation-blue-darker: #00134A;
    --foundation-green-normal: #8FE669;
    --light-orange: #FAAF40;
    --bg-blue:#E6EBFB;
}

