<div class="plans container mx-auto">
  <div class="row d-flex justify-content-center align-items-center my-5">
    <div class="row">
      <h1 class="text-uppercase col-12 d-flex justify-content-center align-items-center mentors fs-1 mt-5">
        PLANS
      </h1>
      <p class="col-12 d-flex justify-content-center align-items-center skill mb-5">
        Fund your future, we offer a range of payment options
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 h-100">
      <div class="col" *ngFor="let plan of planCard">
        <app-plan-card [plan]="plan"></app-plan-card>
      </div>
    </div>
  </div>
</div>
